button {
    margin-top: 4px;
    padding: 8px;
    /*width: 325px;*/
    /*width: 27vw;*/
    border-radius: 4px;
    border: solid rgb(160, 158, 158) 0px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
}

:root {
    --addTask-area-color: rgb(235, 237, 252);
    --font-main-color: rgb(8, 5, 170);
}

.width342 {
    width: 342px;
}
.width300 {
    width: 300px;
}



.addTask-head {
    /*padding-left: 300px;*/
    padding-top: 40px;
    margin-left: 250px;
    margin-right: 5%;
}

.addTask-headline {
    font-size: 2em;
}

.addTask-headline-assist {
    color: var(--main-color);
}

.addTask-area {
    background-color: var(--addTask-area-color);
    margin-left: 250px;
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 64px;
    border-radius: 16px;
    /*width: 750px;*/
    display: flex;
    /*flex-wrap: wrap;*/    
    padding-top: 8px;
    padding-bottom: 32px;
    /*width: 60vw;*/
}

.addTask-area-child {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 32px;
    margin-right: 32px;
}

.addTask-area-title {
    color: var(--main-color);
    margin-bottom: 4px;
    font-size: 1.1em;
}

.addTask-input {
    margin-top: 4px;
    padding: 8px;
    /*width: 325px;*/
    width: 325px;
    border-radius: 4px;
    border: solid rgb(160, 158, 158) 1px;
    font-family: 'PT Sans', sans-serif;
}

.addTask-input-description {
    min-height: 100px;
}

.addTask-select {
    margin-top: 4px;
    padding: 8px;
    /*width: 325px;*/
    width: 344px;
    border-radius: 4px;
    border: solid rgb(160, 158, 158) 1px;
    font-family: 'PT Sans', sans-serif;
}

.addTask-participants-container {
    display: flex;
    flex-wrap: wrap;
}

.border-left-black {
    border-top: 1px solid rgb(160, 158, 158);
}

.addTask-participants {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-new-participants-container{
    margin-top: 30px;
}

.addTask-input-new-participants {
    margin-top: 4px;
    padding: 8px;
    /*width: 325px;*/
    width: 200px;
    border-radius: 4px;
    border: solid rgb(160, 158, 158) 1px;
    font-family: 'PT Sans', sans-serif;
}

.add-new-participants {
    width: 218px !important;
    margin-top: 24px;
    margin-bottom: 16px;
}

.addTask-img-area {
    width: 60px;
    border-radius: 50%;
    margin-right: 8px;
}

.name-area {
    width: 100px;
}

.addtask-plus {
    background-color: var(--font-color-bright);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.addtask-plus:hover {
    background-color: var(--font-color-bright-hover);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.selectedPlus {
    background-color: var(--main-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.fa-plus {
    font-size: 25px;
}

.delete-last-user {
    color: rgb(179, 179, 179);
    background-color: var(--addTask-area-color);
    margin-left: 8px;
}

.delete-last-user:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(190, 190, 190);
    color: black;
}

.addTask-cancel {
    color: var(--main-color);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.addTask-cancel:hover {
    color: var(--font-main-color);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.addTask-create-task {
    background-color: var(--main-color);
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.addTask-add-new-paricipants {
    background-color: var(--main-color);
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}


.addTask-add-new-paricipants:hover {
    background-color: var(--font-main-color);
}

.addTask-create-task:hover {
    background-color: var(--font-main-color);
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.addTask-cancel-or-create {
    display: flex;
    justify-content: flex-start;
    min-width: 150px;
    align-items: flex-end;
    margin-left: 32px;
}

@media(max-width: 1000px) {

    .addTask-head {
        margin-left: 200px;
    }

    .border-top {
        border-top: 1px solid rgb(160, 158, 158);
    }
   /* .border-bottom {
        border-bottom: 1px solid rgb(160, 158, 158);
    } */

    .addTask-area {
        margin-left: 200px;
        flex-direction: column;
    }

    .addTask-cancel-or-create {
        margin-top: 8px;
        margin-bottom: 8px;
        /*margin-left: 32px;*/
        margin-right: 32px;
    }

    .margin-bottom-32 {
        margin-bottom: 32px;
    }

    .addTask-area-input-add-new-paricipants {
        margin-left: 0px !important;
        margin-top: 12px;
    }

    .addTask-cancel-or-create {
        margin-top: 32px;
    }

    .width268 {
        width: 343px;
    }

    .add-new-participants {
        margin-left: 0px;
    }

    .addTask-input-new-participants {
        width: 325px !important;
    }

    .addTask-add-new-paricipants {
        width: 327px;
    }
    .add-new-participants-container{
        padding-left: 38px;
    }
}

@media(max-width: 880px) {
    .addTask-input {
        margin-top: 4px;
        padding: 8px;
        width: 325px;
    }
    .addTask-select {
        margin-top: 4px;
        padding: 8px;
        width: 344px;
    }
}


@media(max-width: 700px) {

    .addTask-head {
        margin-left: 150px;
    }

    .addTask-area {
        margin-left: 150px;
    }

    .addTask-input {
        width: 250px;
    }

    .addTask-select {
        width: 268px;
    }

    .width300 {
        width: none;
    }

    .width250 {
        width: 250px;
    }

    .width268 {
        width: 268px;
    }

    .add-new-participants {
        margin-left: 0px;
    }

    .addTask-input-new-participants {
        width: 250px !important;
    }

    .addTask-add-new-paricipants {
        width: 252px;
    }
    
}

@media(max-width: 550px) {

    .addTask-head {
        margin-left: 32px;
        margin-right: 5%;
        text-align: center;
    }
    
    .addTask-area {
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 150px;
        align-items: center;
        justify-content: center;
    }

    .addTask-area-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addTask-area-child {
        display: flex;
        flex-direction: column;
        
    }

    .addTask-area-child-assigned-to {
        padding-left: 72px;
    }

    .addTask-input {
        width: 250px;
    }

    .addTask-select {
        width: 268pxpx;
    }

    .width300 {
        width: none;
    }

    .width268 {
        width: 268px;
    }

    .add-new-participants {
        margin-left: 0px;
    }

    .addTask-input-new-participants {
        width: 250px !important;
    }

    .addTask-add-new-paricipants {
        width: 252px;
    }
    
}
