.section-backlog{    
    align-items: flex-start;
}

.backlog-container{
    width: 91%;
    margin: 20px 0px;
}


.backlog-head{
    font-size: 25px;
    text-align: left; 
    padding: 10px;   
}
.backlog-head h2{
    margin: 5px 0px;
}

.backlog-head p{
    color: var(--font-main-color);
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px;
}


/* Table */
.table{
    width: 100%;
    margin-top: 10px;
    border-collapse: separate;    
    border-spacing:0 10px;  
              
}
.table-head{
    color: var(--font-main-color);
    font-size: 20px;
    text-align: left;    
}
.table-head th{
    padding: 5px;
}
.table-todo-row{
    background-color: var(--background-area);
    font-size: 20px;                    
}
.table-todo-row td{
    padding: 10px;    
}

/* Profile td */
#table-profile{
    min-width: 300px;    
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;        
    white-space:nowrap;    
}
#table-profile.green{
    border-left: 4px solid green;
}
#table-profile.orange{
    border-left: 4px solid orange;
}
#table-profile.red{
    border-left: 4px solid red;
}
#table-profile.blue{
    border-left: 4px solid blue;
}


.table-profile-container{
    display: flex;
    align-items: center;
}
#table-profile img{
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 3px;
    margin-right: 10px;
}
.profile-email{
    color: var(--font-main-color);
    text-decoration: none;
}



#table-details{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


@media(max-width: 1000px){
    .backlog-head{
        font-size: 20px;          
    }    
    .backlog-head p{        
        font-size: 15px;        
    }

    .table-head{        
        font-size: 17px;           
    }

    .table-todo-row{        
        font-size: 15px;                    
    }
    #table-profile{
        min-width: 120px;  
    }    
}

@media (max-width: 700px){
    .table-profile-container{
        flex-direction: column;
        text-align: center;        
    }
}

@media(max-width: 550px){
    #table-profile{               
        white-space: inherit;    
    }
    .table-todo-row td {
        padding: 5px;
    }
}
