.section-backlog{    
    align-items: flex-start;
}

.backlog-container{
    width: 93%;
    margin: 20px 0px;
}


.backlog-head{
    font-size: 25px;
    text-align: left; 
    padding: 10px;   
}
.backlog-head h2{
    margin: 5px 0px;
}

.backlog-head p{
    color: var(--font-main-color);
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px;
}


/* Table */
.table{
    width: 100%;
    margin-top: 10px;
    border-collapse: separate;    
    border-spacing:0 10px;  
              
}
.table-head{
    color: var(--font-main-color);
    font-size: 20px;
    text-align: left;    
}
.table-head th{
    padding: 5px;
}
.table-todo-row{
    background-color: var(--background-area);
    font-size: 20px;
                    
}
.table-todo-row td{
    padding: 10px;    
}

/* Profile td */
#table-profile{
    min-width: 300px;    
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;        
    white-space:nowrap;
    
}
#table-profile.orange{
    border-left: 4px solid orange;
}
#table-profile.blue{
    border-left: 4px solid blue;
}
#table-profile.red{
    border-left: 4px solid red;
}
#table-profile.green{
    border-left: 4px solid green;
}


.table-profile-container{
    display: flex;
}
#table-profile img{
    display: inline;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 3px;
    margin-right: 10px;
}
.profile-email{
    color: var(--font-main-color);
    text-decoration: none;
}



#table-details{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

