.mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

:root {
    --addTask-area-color: rgb(235, 237, 252);
}

.singleTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
}

.taskName {
    font-size: 20px;
    font-weight: bold;
}

.task {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--addTask-area-color);
}

.boardItem {
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.boardItemDelete:hover {
    cursor: pointer;
}

.green {
    border-left: 4px solid green;
}

.orange {
    border-left: 4px solid orange;
}

.red {
    border-left: 4px solid red;
}

.blue {
    border-left: 4px solid blue;
}

.boardItemDate {
    font-size: 12px;
}

.boardItemTitle {
    font-size: 16px;
}

.boardItemUser {
    font-size: 10px;
}

@media(max-width: 700px) {
    .taskName {
        font-size: 14px;
        font-weight: bold;
    }
}

@media(max-width: 550px) {
    .mainContainer {
        height: 80%;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .singleTaskContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .boardItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}