html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;    
}

:root{
    --main-color: rgb(54, 52, 201);
    --font-main-color: rgb(8, 5, 170);
    --font-color-bright: rgb(216, 216, 216);
    --background-area: rgb(235, 237, 252);
    --transition-time: 120ms;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font-color-main{
    color: var(--font-main-color);
}

.section{         
    height: 100vh;    
    position: absolute;      
    bottom: 0;  
    left: 200px;
    right: 0px;      
}


/* ------Navigation navbar---------------------- */
.nav{
    background-color: var(--main-color);
    width: 200px;
    height: 100vh;
    position: fixed;    
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: column;    
}

.links a{
    color: var(--font-color-bright);
    background-color: var(--main-color);
    font-size: 30px;    
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
    text-align: right;    
    position: relative;    
    right: 0;
    border-radius: 10px;
    transition: color var(--transition-time) ease-in-out,
                right var(--transition-time) ease-in-out,
                bottom var(--transition-time) ease-in-out;
}
.links a::before{
    content: '';
    background-color: white;
    width: 0;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    transition: width var(--transition-time) ease-in-out;    
}
.links a:hover::before{
    width: 4px;
}

.links a:hover{
    background-color: rgb(100, 98, 250);
    color: white;   
    right: -50px;     
} 
.nav-profile-pic{
    height: 90px;
    border-radius: 50%;
}


/* Responsive Navbar */

@media(max-width: 1000px){
    .section{
        left: 150px;
    }
    .nav{
        width: 150px;
    }
    .links a{
        font-size: 22px;
    }
    .links a:hover{       
        right: -40px;     
    } 
    .nav-profile-pic{
        height: 70px;
    }
    .nav-logo img{
        height: 60px;
    }
}
@media(max-width: 700px){
    .section{
        left: 110px;
    }
    .nav{
        width: 110px;
    }
    .links a{
        font-size: 17px;
        padding: 10px;
    }
    .links a:hover{       
        right: -25px;     
    } 
    .links a::before{        
        left: -5px;           
    }
    .nav-profile-pic{
        height: 50px;
    }
    .nav-logo img{
        height: 50px;
    }
}
@media(max-width: 550px){
    .section{
        height: 90vh !important;
        left: 0px;
        top: 0;
        bottom: 90px;
    }
    .nav{
        background-color: var(--main-color);
        width: 100vw;        
        height: 90px;
        position: fixed;        
        bottom: 0;        
        flex-direction: row;
        z-index: 2;
    }
    .links{
        flex-direction: row;
    }
    .links a{
        font-size: 50px;
        margin: 0px 10px;
    }
    .help-container{
        padding-bottom: 150px !important;
    }
    .nav-profile-pic{
       display: none;
    }
    .link-text{
        display: none;
    }
    .links a:hover::before{
        width: 0px;
    }
    
    .links a:hover{
        color: white;   
        bottom: 25px;    
        right: 0px; 
    } 
        
}
