

.welcome-container{
    width: 90%;    
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.welcome-headline-container{
    flex-direction: column;
    text-align: center;
}
.welcome-headline-container h1{
    margin-top: 10px;
}
.welcome-logo{
    height: 130px;
}

.welcome-description{
    text-align: center;
    flex-direction: column;
}

/* Profile-pics */
.welcome-profile-pics{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.welcome-profile-pics a{
    border-radius: 50%;
    margin: 10px;
}
.welcome-profile-pics img{
    height: 100px;
    width: 100px;
    border-radius: 50%;    
}


@media(max-width: 1000px){    
    .welcome-container{        
        font-size: 25px;
    }
    .welcome-logo{
        height: 100px;
    }
}

@media(max-width: 700px) {       
    .welcome-description{
        font-size: 20px;
    }
    .welcome-logo{
        height: 80px;
    }
}



