<div id="nav" class="nav">
    <a class="nav-logo" href="../start.html"><img src="../assets/img/logo.png" alt="Logo"></a>

    <div class="links">
        <a href="../board.html">
            <span class="link-text">Board</span> <i class="far fa-clipboard"></i>
        </a>
        <a href="../backlog.html">
            <span class="link-text">Backlog</span> <i class="far fa-list-alt"></i>
        </a>
        <a href="../addtask.html">
            <span class="link-text">Add Task</span> <i class="far fa-plus-square"></i>
        </a>
        <a href="../help.html">
            <span class="link-text">Help</span> <i class="far fa-question-circle"></i>
        </a>
    </div>

    <!-- <img id="nav-profile-pic" class="nav-profile-pic" src="../assets/img/profilepic.png" title=""> -->

</div>