<div class="nav">
    <a class="nav-logo" href="../index.html"><img src="../assets/img/logo.png" alt="Logo"></a>

    <div class="links">
        <a href="../board.html">
            Board <i class="far fa-clipboard"></i>
        </a>
        <a href="../backlog.html">
            Backlog <i class="far fa-list-alt"></i>
        </a>
        <a href="../addtask.html">
            Add Task <i class="far fa-plus-square"></i>
        </a>
        <a href="../help.html">
            Help <i class="far fa-question-circle"></i>
        </a>
    </div>
   
    <img class="nav-profile-pic" src="assets/img/profilepic.png" alt="">

</div>